@media (max-width: 1140px) {
  .header {
    padding-bottom: 0;
  }

  .bike {
    padding-bottom: 20px;
  }

  .bike__column {
    margin-bottom: 30px;
  }

  .bike__column-slider {
    max-width: 100%;
    margin-left: 0;
  }

  .bike__inner {
    flex-wrap: wrap;
  }

  .bike__text {
    max-width: 100%;
  }

  .bike__link {
    margin-top: 30px;
  }

  .info {
    padding-bottom: 50px;
  }

  .info__item-img {
    display: none;
  }

  .info__content {
    max-width: 100%;
  }

  .info__item-text {
    max-width: 100%;
  }

  .characteristic {
    padding-bottom: 50px;
  }

  .slider__item img {
    object-fit: cover;
  }
}

@media (max-width: 990px) {
  .nav {
    margin-right: 0;
  }

  .characteristic__inner {
    flex-wrap: wrap;
  }

  .characteristic__img {
    order: -1;
    width: 100%;
  }

  .characteristic__items {
    flex-basis: 100%;
    margin-right: 0;
  }

  .characteristic__name {
    flex-basis: 50%;
  }

  .characteristic__descr {
    flex-basis: 50%;
  }

  .slider__item img {
    height: 400px;
  }
}

@media (max-width: 670px) {
  .bike__title {
    font-size: 44px;
    line-height: 57px;
    margin: 30px 0 5px;
  }

  .bike__subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 29px;
  }

  .bike__list {
    flex-wrap: wrap;
  }

  .bike__list-item {
    width: 50%;
    margin-bottom: 15px;
  }
}

@media (max-width: 650px) {
  .header__inner {
    display: block;
    text-align: center;
  }

  .nav {
    margin-top: 50px;
  }

  .nav__list {
    justify-content: space-evenly;
  }

  .nav__item + .nav__item {
    margin-left: 0;
  }

  .nav__link {
    padding: 25px 20px;
  }

  .info__item + .info__item {
    padding-top: 25px;
  }

  .slider__item {
    padding-left: 10px;
  }

  .slider__item img {
    height: 250px;
  }
}

@media (max-width: 475px) {
  .bike__link {
    padding: 15px;
    letter-spacing: 0.9em;
  }
}

@media (max-width: 460px) {
  .nav__list {
    justify-content: space-between;
  }

  .nav__link {
    padding: 25px 0px;
  }

  .slider {
    display: none;
  }
}

@media (max-width: 350px) {
  .nav {
    margin-top: 30px;
  }

  .nav__link {
    font-size: 12px;
  }
}
