@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/*header*/

.header {
  padding-bottom: 100px;
}

.header__inner {
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 100px;
}

.nav {
  margin-left: auto;
  margin-right: 72px;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 10px;
}

.nav__link {
  text-transform: uppercase;
  padding: 42px 20px;
  transition: all 0.3s;
  color: #131313;
}
.nav__link:hover {
  background-color: #131313;
  color: #fff;
}

/*bike*/
.bike {
  padding-bottom: 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

.bike__link {
  margin-top: 60px;
  display: inline-block;
  background-color: #131313;
  color: #fff;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  transition: all 0.3s;
}
.bike__link:hover {
  background-color: #ff4040;
}

.bike-slider .slick-dots {
  right: 0;
  top: 50px;
}

.bike__list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.bike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}

.slick-dots {
  position: absolute;
}
.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.slick-dots button:hover {
  background-color: #ff4040;
}

.slick-active button {
  background-color: #ff4040;
}

/*info*/

.info {
  padding-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__item-img {
  margin-right: 60px;
  max-width: 570px;
  object-fit: cover;
}

.info__content {
  max-width: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info__item-text {
  line-height: 120%;
  max-width: 450px;
}

/*characteristic*/

.characteristic {
  padding-bottom: 150px;
}

.characteristic__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.characteristic__inner {
  display: flex;
}

.characteristic__items {
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristic__list + .characteristic__list {
  padding-top: 30px;
}

.characteristic__title {
  padding: 2px 0 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
}

.characteristic__line {
  display: flex;
  padding-top: 5px;
}

.characteristic__name {
  flex-basis: 285px;
  padding-right: 25px;
}

.characteristic__descr {
  flex-basis: 285px;
}

.characteristic__img {
  align-self: center;
}

/*slider*/

.slider {
  padding-bottom: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}

/*price*/

.price {
  padding-bottom: 100px;
}

.price__inner {
  display: flex;
  justify-content: space-between;
}

.form {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}

.form__text {
  max-width: 298px;
  line-height: 120%;
  margin-bottom: 28px;
}

.form__text_opacity {
  color: #6f6f6f;
  opacity: 0.5;
  margin-bottom: 10px;
}

.form__input-name {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #131313;
  outline: none;
  background: transparent;
  line-height: 120%;
  color: #131313;
}
.form__input-name::placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-phone {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #131313;
  outline: none;
  margin-top: 10px;
  line-height: 120%;
  color: #131313;
  margin-bottom: 20px;
}
.form__input-phone::placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__btn-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.form__btn-box button {
  width: 80px;
  height: 12px;
  font-size: 0;
  border-radius: 30px;
  cursor: pointer;
}

.form__btn-box button.active {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.gray-btn {
  border: none;
  background: #6f6f6f;
}

.white-btn {
  border: 1px solid #6f6f6f;
  background: #fff;
}

.red-btn {
  border: none;
  background: #ff4040;
}

.form__btn {
  border: none;
  display: inline-block;
  background-color: #131313;
  color: #fff;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: #ff4040;
}

.price__item {
  position: relative;
}

.price__item-sum {
  position: absolute;
  font-size: 32px;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff4040;
  border-radius: 50%;
  transform: translateX(-50%);
}
.price__item-sum::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 50%;
  top: 12px;
  left: 0;
}

/*footer*/

.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer__social img {
  width: 28px;
  height: 28px;
}

.footer__social-link + .footer__social-link {
  margin-left: 26px;
}

.foote__contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}

.foote__contacts img {
  margin-right: 10px;
}

.footer__contacts-link {
  color: #fff;
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}
